.group{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    box-shadow: black 0px 0px 0px 1px ;
    background-color: var(--secondary-theme-color);
    padding-top: 15px;
    padding-right: 4px;
    transition: 0.3s ease-in-out;
}

.input{
    margin-top: 0px;
    height: 100%;
    width: 100%;
    padding: 4px 7px;
    font-size: 15px;
    color:var(--primary-text-color);
    background-color: transparent;
    border: none;
}

.radio_container{
    height: 50px;
    width: 100%;
    max-width: 10rem;
    position: relative;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.radio{
    height: 100%;
    width: 100%;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 20;
}


.radio_background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px;
    border :solid 6px var(--secondary-theme-color);
    outline: solid 2px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.radio_background{
    background-color: var(--secondary-theme-light);
    color: var(--primary-text-color);
}

.radio_container .radio:checked ~ .radio_background{
    outline-color: var(--primary-theme-color) ;
}

.label{
    color: rgb(152, 152, 152);
    background-color: transparent;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 8px;
    top:10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.error_message{
    color: red;
    font-size: 13px;
}


.group:focus-within{
    box-shadow: rgb(2, 122, 192) 0px 0px 0px 2px  ;
}

.input:disabled{
    opacity: 0.2;
    cursor: not-allowed;
}

.input:focus ~ .label,
.input:valid ~ .label,
.input:disabled ~  .label{
    top: 2px;
    font-size: 12px;
}
