textarea{
    outline: none;
}


.group{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:transparent;
    transition: 0.3s ease-in-out;
}

.input{
    height: 2.5rem;
    padding: 4px;
    width: 100%;
    color:var(--primary-text-color);
    box-shadow: black 0px 0px 0px 1px inset;
    border-radius: 4px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.error_message{
    color: red;
}


.input:disabled{
    opacity: 0.2;
    cursor: not-allowed;
}

.input:focus,.input:active{
    box-shadow: rgb(0, 106, 255) 0px 0px 0px 1.5px inset;
}

.input_error{
    box-shadow: red 0px 0px 0px 1px inset;

}