.primary_button,.secondary_button{
    position: relative;
    height:2.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.3s ease-in-out;
}

.primary_button{
    color: white;
    background-color: rgb(25, 113, 194);
}

.primary_button a{
    color: white;
}

.secondary_button{
    background-color: rgb(227, 227, 227);
    color: black;

}


.primary_button:active,.secondary_button:active{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.primary_button:disabled,.secondary_button:disabled{
    outline: none;
    opacity: 0.6;
    cursor: not-allowed;
}

