.primary_button,.secondary_button{
    height:2.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 4px;
    outline: solid 3px transparent;
    outline-offset: 2px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.primary_button{
    color: white;
    opacity: 0.8;
    background-color: rgb(25, 113, 194);
}

.primary_button a{
    color: white;
}

.secondary_button{
    background-color: #eaeaea;
    color: black;

}

.primary_button:hover,.secondary_button:hover{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



.primary_button:disabled,.secondary_button:disabled{
    outline: none;
    opacity: 0.6;
    cursor: not-allowed;
}

