.ripple_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.ripple{
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    border-radius: 50%;
    background-color: white;
    animation: ripple 0.6s ;
}

@keyframes ripple {
    to{
        opacity: 0;
        transform: scale(2);
    }
}