.modal_wrapper{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    background-color:rgb(46, 46, 46,0.7);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transition: 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.modal_hidden{
    visibility: hidden;
    opacity: 0;
}

@keyframes fadeIn {
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}


