.tab{
    flex-direction: column;
    transition:  0.3s ease-in-out;
    border-radius:0 0  4px 4px;
}

.tab_header{
    align-items: center;
    gap: 0;
    width: 100%;
}

.tab_label{
    position: relative;
    height:2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.active{
    color: rgb(2, 122, 192);
}





.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(2, 122, 192);
    height: 2px
}

.tab_label:disabled{
    cursor: not-allowed;
}